<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>y</title>
    <link href="/css/app.88dca31a8884f366321e7e7f24922f68.css" rel="stylesheet">
</head>
<style>
    #container{
      float: left;
    }
</style>
<body style="margin: 0 8px;">
    <div id="app"></div>
    <script type="text/javascript" src="/js/manifest.d1174c6fc3c2be32b294.js"></script>
    <script type="text/javascript" src="/js/vendor.6e143a28584b7e8f3a5c.js"></script>
    <script type="text/javascript" src="/js/app.0b45cd1177f348a2daa2.js"></script>
</body>
</html>